.nav {
  height: 100px;
  background-color: black;
}

.hero {
  height: 100px;
  background-color: gold;
}

.box1 {
  height:100px;
  background-color: white;
}

.box2 {
  height: 100px;
  background-color: gold;
}

.box8 {
  height: 100px;
  background-color: orange;
}

.box4 {
  height: 100px;
  background-color: gold;
}

.box12 {
  height: 100px;
  background-color: black;
}
